	<p class="player_1_text">Player 1 you are X. What is your name?</p>
	<form action="/output" method="post">
		<input type="text" name="player_1">
		<input type="submit">
	</form>

	<!-- <select name = "player_1">
	  <option value="sequential_ai">sequential_ai</option>
	  <option value="random_ai">random_ai</option>
	  <option value="human">human</option>
	</select><br> -->
	<!-- <h4>"Player 2 is O choose your AI"<h4>
	<select name = "player_2">
		<option value="sequential_ai">sequential_ai</option>
		<option value="random_ai">random_ai</option>
		<option value="human">human</option>
	</select><br><br> -->

	<!-- <input type = "submit">
	 -->
 

<!-- <form method = "post" action = "get_p1_ai">
	<input type = "text" name = "p1_ai">
</form>
<br>
"Player 2 would you like to be human or cpu?"
<form method = "post" action = "get_p2_ai">
	<input type = "text" name = "p2_ai">
	<input type = "submit"
</form> -->