<div class="ask_player_container">
	<p class="player_1_text">Player 2 you are O. What is your name?</p>
	<form action="/get_p2_name" method="post">
		<input type="text" name="player_2" class="player1_name_input"><br>
		<input type="submit" class="player1_name_submit">
	</form>
</div>