<div class='p2_human_selector_container'>
	<p class="p2_text">What difficulty would you like to play?</p>
	<form action = "/get_p2" method = "post">
		
		<select name = "player_2_difficulty_selector" class="human_select_drop">
		<!-- 	<option value="sequential_ai">sequential_ai</option> -->
			<option value="sequential_ai">Easy</option>
			<option value="random_ai">Medium</option>
			<!-- <option value="class_unbeatable_ai">Hard</option> -->
		</select><br><br>

		<input type = "submit" class='human_select_submit'>
	</form>
</div>