<form action = "/get_p2" method = "post">
	<p>"Player 2 is O choose your AI"</p>
	<select name = "player_2">
	<!-- 	<option value="sequential_ai">sequential_ai</option> -->
		<option value="random_ai">CPU</option>
		<option value="human">human</option>
	</select><br><br>

<input type = "submit">
</form>
