
#top-center, #middle-center, #bottom-center {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#middle-left, #middle-center, #middle-right {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#board tr td{
	width: 12vw; 
	height: 12vw;
	text-align: center;
}
#board {
	margin: 0 auto;
    margin-top: 50px;
}
p {
	text-align: center;
}
h1 {
	text-align: center;
}
form {
	text-align: center;
}
.board  {
	background: white;
	font-size: 10vw;
	border: none;
}

input[value="X"] {
	color: red;
}

input[value="O"] {
	color: blue;
}

.intro_container {
	margin-top: 15%;
}

.start_button {
	width: 15vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 25%;
	margin-top: 5%;
}

.ask_player_container {
	margin-top: 20%;
}

.p2_human_selector_container {
	margin-top: 20%
}

.p2_text {
	font-size: 4vw
}

.welcome_text {
	font-size: 4vw
}

.player_1_text {
	font-size: 4vw;
}

.player1_name_input {
	text-align: center;
	width: 30vw;
    height: 3vw;
    font-size: 3vw;
}

.player1_name_submit {
    margin: 3%;
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 25%;
}

.human_select_drop {
    width: 10vw;
    height: 3vw;
    font-size: 2vw;
}

.human_select_submit {
	margin-top: 2vw;
	width: 15vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 25%;
}